/*Declaracion general para que la pagina abarque toda su totalidad*/
*{
    margin: 0;
    padding: 0;
    color: black;
}

/*Contenido que va dentro del form en la pagina de autentica*/
.loginB{
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border-radius: 20px;
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,.9) 0%, rgba(255,244,234,.9) 100.2% );
    padding-bottom: 10px;
}
/*Un header para el login*/
.header{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
/*Configuracion basica del particle-js*/
#particles-js{
    width: 100%;
    height: 100%;
    background: black;
}
/*Este particle-js es especial ya que no afecta a lo que este frente a el*/
.inicio #particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    background: black;
    top: 0;
    left: 0
}
/*Lo mismo aplica para este*/
.inicio #particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
/*Fondo rojo para el particle js*/
#particles-js.red{
    background: crimson;
}
/*Contenido del forms en la pagina autentica*/
.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    font-family: 'Kanit', sans-serif;
}

.class{
    margin-bottom: 20px;
}
/*Estilo del form de la pagina registro.php*/
.forms{
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 30vw;
}
/*Estilo del div que almacena el form*/
.signup{
    margin-top: 25vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.signup .content{
    display: block;
}

.signup .content p{
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    color: white;
}
/*Estos estilos de abajo son estilo para los forms, simplemente para posicion su mayoria*/
#frmSignup{
    display: flex;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 20px;
    width: 20vw;
    flex-direction: column;
    border-radius: 20px;
}

#frmAutentica{
    position: relative;
    margin: auto;
}

#txtUsuario{
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 2px;
}
/*Estilo general del input*/
input{
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 2px;
}
/*Un margen para que no se vea todo pegado*/
#password{
    margin-top: 20px;
}
/*Estilo para los mensajes de error del ajax*/
.error{
    color: red;
}
/*Imagen para el mensaje de error ajax*/
.errorImg{
    width: 15px;
    height: 15px;
}
/*Los de abajo son estilo del boton de signup en la pagina autentica*/
.button-17 {
    margin-top: 30px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-17:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
}

.button-17:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
}
/*Los de abajo son estilo del boton de submit de la pagina registra*/
.sbmb{
    text-align: center;
    margin: 20px auto auto;
    width: 100%;
}

#btnSignup {
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: #BF0426;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

#btnSignup::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#btnSignup:hover::before {
    width: 1.6em;
    height: 1.6em;
}

#btnSignup:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}
/*Estilo general del anchor*/
a{
    color:red;
}
/*Modal hace referencia a una ventana emergente*/
#modal{
    font-family: 'Kanit', sans-serif;
    position: fixed;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border-radius: 0.25rem;
    z-index: 10;
    height: 10vh;
}
/*Estilo para donde se despliegan los mensajes de error*/
#msgError{
    font-size: 20px;
    color: red;
    margin-top: 20px;
    text-align: center;
}
/*Estilo del anchor de la pagina registra*/
.loginInstead{
    text-align: center;
    transition: .35s ease;
}

.loginInstead:hover{
    transition: .35s ease;
    font-size: 20px;
}

.hidden{
    display: none;
}
/*Body para la pagina firstSetup*/
.firstSetupB{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    width: 100vw;
    height: 100vh;
}
/*Estilo de h1 para la pagina firstSetupB*/
.firstSetupB h1{
    font-family: 'Sigmar One', cursive;
}
/*Div para el contenido principal de la pagina firstSetup*/
.firstSetupB .mainContent{
    width: 60%;
    height: fit-content;
    margin: 50px auto auto;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding-bottom: 30px;
}
/*Estilo de P para la pagina firstSetup*/
.firstSetupB p{
    margin: 20px 0px 0px 20px;
    font-family: 'Kanit', sans-serif;
}
/*Los estilos de abajo son para espaciado de los atributos */
#pfpSelector{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

#bioTxt{
    border-radius: 20px;
    padding: 10px;
    resize: none;
}

#sendData{
    width: 80px;
    border: 1px solid black;
}
/*Body de la pagina inicio.php*/
body.inicio{
    height: 100%;
    overflow-y: scroll;
}
/*Div para el contenido principal de la paigina inicio*/
.inicio .mainContent{
    position: relative;
    left: 0;
    right: 0;
    margin: 2% auto 50px;
    width: 60%;
    height: fit-content;
    background: white;
    text-align: center;
    top: 15%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 30px;
    padding-bottom: 20px;
}
/*Configuracion extra para el particle-js*/
.inicio #particles-js{
    background: grey;
    height: 100%;
}

.particles-js-canvas-el{
    height: 100vh;
}
/*Estilo para el h2 en la pagina inicio*/
.inicio h2{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
/*Encabezado de la pagina .inicio*/
.inicio header{
    margin: 0 auto;
    width: 30%;
    height: 10vh;
    background: #000;
    border-radius: 0 0 20px 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
/*Estilo para el P del encabezado en inicio*/
.inicio header p{
    color: white;
}
/*Estilo para una imagen chica en .inicio*/
.miniPfp{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}
/*Div para cargar la informacion del usuario en el header*/
.userInfo{
    display: flex;
    text-align: center;
    align-items: center;
}
/*Estilo de p y a para la pagina inicio*/
.inicio p,a{
    font-family: 'Kanit', sans-serif;
}
/*Estilo general de listas*/
ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

ul li{
    font-family: 'Kanit', sans-serif;
    margin: 10px;
    font-size: 20px;
}
/*Div contenedor de la biografia del usuario*/
.biog{
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px 0;
    box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.1);
}
/*Estilo del h3*/
h3{
    font-family: 'Kanit', sans-serif;

}
/*Estilo para una foto grande*/
.bigPfp{
    width: 500px;
    height: auto;
    margin: 20px auto;
}
/*Encabezado dentro del contenido principal de la pagina inicio*/
.innerHeader{
    background: blanchedalmond;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}