*{
    margin: 0;
    padding: 0;
    color: black;
}

.loginB{
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border-radius: 20px;
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,.9) 0%, rgba(255,244,234,.9) 100.2% );
    padding-bottom: 10px;
}

.header{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

#particles-js{
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
}

#particles-js.white{
    background: crimson;
}

.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    font-family: 'Kanit', sans-serif;
}

.class{
    margin-bottom: 20px;
}

.forms{
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 30vw;
}

.signup{
    margin-top: 25vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.signup .content{
    display: block;
}

.signup .content p{
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    color: white;
}

#frmSignup{
    display: flex;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 20px;
    width: 20vw;
    flex-direction: column;
    border-radius: 20px;
}

#frmAutentica{
    position: relative;
    margin: auto;
}

#txtUsuario{
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 2px;
}

input{
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 2px;
}

#password{
    margin-top: 20px;
}

.error{
    color: red;
}

.errorImg{
    width: 15px;
    height: 15px;
}

.button-17 {
    margin-top: 30px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-17:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
}

.button-17:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
}

.sbmb{
    text-align: center;
    margin: 20px auto auto;
    width: 100%;
}

#btnSignup {
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: #BF0426;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

#btnSignup::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#btnSignup:hover::before {
    width: 1.6em;
    height: 1.6em;
}

#btnSignup:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}

a{
    color:red;
}

#modal{
    font-family: 'Kanit', sans-serif;
    position: fixed;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border-radius: 0.25rem;
    z-index: 10;
    height: 10vh;
}

#msgError{
    font-size: 20px;
    color: red;
    margin-top: 20px;
    text-align: center;
}

.loginInstead{
    text-align: center;
    transition: .35s ease;
}

.loginInstead:hover{
    transition: .35s ease;
    font-size: 20px;
}